*{
    margin: 10px;
    font-family: Roboto;
}

/* .overall-container{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;

} */

.resta-insta-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
    flex-wrap: wrap;
    gap: 6px;
    flex-grow: 1;
    flex-shrink: 1;
}

.restaurant-img{
    max-height: 100px;
    max-width: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1.3rem;
}



.restinsta-child-container :first-child{
    font-weight: bold;
    font-size: larger;
}

.top-picks{
    display: flex;
    align-items: center;
    font-size: larger;
    font-weight: bold;
}

.thumbsup-icon{
    color: orange;
}

.top-picks-container{
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
    overflow-x: scroll;
    margin-bottom: 1rem;
}

.today-featured-heading{
    font-size: larger;
    font-weight: bold;
    margin-bottom: 12px;
    margin-left: 5px;

}

@media screen and (min-width: 575px) {
    .restaurant-img{
        height: auto;
        width: 30%;
    }
}